<!-- fix transparency -->
<!-- fix li css -->
<!-- actions when buttons are clicked -->
<!-- textroo -->
<!-- add logo -->
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>T3</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/css/magnific-popup.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#people">People</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <!-- <div id="transparent-overlay">
        </div>
         -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-md-offset-4 col-xs-12 header-content" >
                    <p class="large-header-home">Find your perfect candidate faster.</p>
                    <hr class="large-header-home">
                    <p class="sub-header-home"  style="border:black 5px solid; word-wrap:break-word"">Our specially trained, passionate resesarch team and best-of-breed methodology find the right talent with the most relevant experience.</p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started</a>
                </div>
            </div>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <p class="large-header-content">T3 Intelligence</p>
                    <hr>
                    <p class="copy-content">As the war for talent continues to heat up, recruiters and hiring managers need every advantage available to maximize the success of their business.  Recruiting is primarily a sales role, and because of that, hiring managers often can’t prioritize conducting exhaustive research of candidates. That's where T3 Intelligence specializes. The candidate list and contact information we provide allows the recruiter to start reaching out to potential candidates instantly without wasting their time on background. The talent market snapshot we develop makes a reach-out campaign so easy and fast, an expensive dedicated recruiter is often unnecessary. </p>
                    <p class="small-header-content">Swat Research Team</p>
                    <p class="copy-content">Our specially trained, passionate research team and best-of-breed methodology, originally implemented by Apple in 2000, finds the right talent with the most relevant experience.</p>
                    <p class="small-header-content">Higher Productivity</p>
                    <p class="copy-content">We provide everything to immediately launch an outreach campaign. Our model allows any executive in your company to conduct a search with the minimum time invested.</p>
                    <p class="small-header-content">Consistent Results</p>
                    <p class="copy-content">We engineer the flow of a steady talent pipeline, designed to give constant hiring support. Find the perfect candidate faster.</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container-fluid">
            <div class="row images-div" id="services-div">
                <div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
                    <p class="large-header-home">Deliverables &amp; Strategy</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <p class="large-header-content">Consistent Agile Pipeline</p>
                    <hr>
                    <p class="copy-content">Supporting one recruiter or a whole team, we provide a consistent weekly flow of prospective candidates to fuel the search process. This powerful tool allows the recruiting team to focus their efforts on contact and discussions with qualified candidates instead of endlessly combing the internet. This shift yields faster and more efficient search process and higher quality candidates. We assure minimum numbers of qualified candidates per hour of search, and a detailed target company ecosystem of market research to provide scope context to the market conditions.</p>
                    <p class="small-header-content">Deliverables</p>
                    <ul class="copy-content">
                        <li>At least three names with contact information per hour in candidate list or flowchart</li>
                        <li>Ecosystem of market research on target companies</li>
                        <li>Results within 10 days</li>
                    </ul>
                    <p class="large-header-content">Single Search / Fixed Fee</p>
                    <hr>
                    <p class="copy-content">Supporting a single search, this is designed for an in-depth search with predictable cost. We work in constant communication with recruiters and hiring managers to ensure only the most relevant results. We assure minimum numbers of qualified candidates with contact information in addition to a detailed target company ecosystem of market research to provide scope context to the market conditions.</p>
                    <p class="small-header-content">Deliverables</p>
                    <ul class="copy-content">
                        <li>Ecosystem of market research on target companies</li>
                        <li>Results within 14 days</li>
                    </ul>
                    <p class="large-header-content">Search Strategy</p>
                    <hr>
                    <p class="copy-content">We begin a search with the background and context of the role in the company. We do background research on the industry and market conditons of the role to establish an ecosystem of companies and industries that are related to the job and the quality of talent at each company. From there we develop an in-depth search string strategy across multiple sources to find everyone who is going to be relevant in the ecosystem. After examining each profile we hand pick the best and most qualified individuals and find their contact information and social media profiles.</p>
                    <div class="flex-container">
                        <a href="" class="btn btn-primary btn-xl page-scroll">Sample Discovery Process</a>
                        <a href="" class="btn btn-primary btn-xl page-scroll">Sample Job Description</a>
                        <a href="" class="btn btn-primary btn-xl page-scroll">Sample Candidate List</a>
                    </div>
                </div>        
            </div>
        </div>
    </section>

    <section id="people">
        <div class="container-fluid">
            <div class="row images-div" id="people-div">
                <div class="col-xs-12 text-center">
                    <p class="large-header-home">People</p>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1 text-center">
                <img id="bio-pic" class="img-responsive" src="/static/img/ellis.jpg">
            </div>
            <div class="col-md-6" id="bio">
                <p class="large-header-content">Ellis Briery</p>
                <hr>
                <p class="copy-content">A young self-starter, Ellis was originally recruited to JC Penney straight out of college. He quickly dominated the research effort for executive search during their truncated transformation. An expert at research and an innovator in the department at JC Penney, Ellis had found where his true talent lay. After a tour in the agency technical recruiting industry at Riviera Partners, Ellis took advantage of the unique opportunity to start a business based around doing what he loved and excelled at.</p>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container-fluid">
            <div class="row images-div" id="contact-div">
                <div class="col-xs-12 text-center">
                    <p class="large-header-home">Contact Us</p>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <p class="large-header-content">Contact Methods</p>
                <hr>
                <p class="copy-content">Email:
                    <a href="mailto:enquiries@t3intelligence.com">enquiries@t3intelligence.com</a>
                </p>
                <p class="copy-content">Phone: 1.415.937.1420</p>
                <p class="copy-content">
                    <a href="https://www.linkedin.com/company/t3-search">Find T3 on LinkedIn</a>
                </p>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/scrollreveal.min.js"></script>
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/creative.js"></script>

    <script>
    var headerHeight = $('header').height();
    $('#transparent-overlay').height(headerHeight);

    var picHeight = $('#bio').height();
    $('#bio-pic').height(picHeight);

    </script>

</body>

</html>
